<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender Configuration -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%thread] %5level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender Configuration -->
    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <file>logs/app.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}[%thread] %5level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger Configuration -->
    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <!-- Logger for a specific class -->
<!--    <logger name="com.example.yourpackage" level="DEBUG"/>-->

</configuration>